@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
}

input,
button {
  outline-width: 0;
}

.app {
  background-color: #dadbd3;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app__body {
  display: flex;
  width: 90vw;
  height: 90vh;
  margin-top: -10px;
  max-width: 1396px;
  background-color: #ededed;
  overflow: hidden;
  z-index: 1;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
}
